<b>JQuery</b h3>
<h4 id="today"></h4>

<input id="firstName" placeholder="First Name"/>
<button id="btnFirstName" class="btn-primary">Click FirstName</button>

<input id="lastName" placeholder="Last Name"/>
<button class="btn-secondary">Click LastName</button>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>SubTotalPrice</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input id="product" value="Bike" readonly/>
            </td>
            <td>
                <input id="price" value="15"/>
            </td>
            <td>
                <input id="qty" value="1" readonly/>
            </td>
            <td>
                <input id="subTotalPrice" value="15" readonly/>
            </td>
            <td>
                <button id="btnAdd">Add Item</button>
            </td>
        </tr>
    </tbody>
</table>

<form id="formSubmit">
    <input id="CategoryName" placeholder="CategoryName"/>
    <input id="Description" placeholder="Description"/>
    <button type="submit">Save Me</button>
</form>

@section scripts{
    <script type="text/javascript">
        let today = new Date();
        $(document).ready(function(){
            console.log('document ready');
            $("#today").text(today);
        });

        $('#btnFirstName').on('click', () => {
            $("#firstName").val("Hello Bootcamp");
        });

        $('.btn-secondary').on('click', () => {
            $("#lastName").val("JQuery");
        });

        $('#btnAdd').on('click', () => {
            let price = $('#price').val();
            let qty = $('#qty').val();

            let counter = qty;
            counter++;
            $('#qty').val(counter);

            $('#subTotalPrice').val(parseFloat(price) * parseInt(qty));
        });

        $("#formSubmit").submit((e) => {
            //mencegah supaya page tidak langsung submit ke server
            e.preventDefault();

            let categoryForCreateDto = {
                CategoryName : $('#CategoryName').val(),
                Description : $('#Description').val()
            }
       

        // sent object via ajax
        $.ajax({
            type : "POST",
            url : '/ClientSide/PostCategory',
            data : JSON.stringify(categoryForCreateDto),
            dataType : 'json',
            contentType : 'application/json',
            success : function(result){
                console.log(result);
                alert('Data has been save');
            },
            error : function(result){
                console.log(result);
                alert('Data fail to save');
            }
        });

     });
    </script>
}
@*# : untuk cari id
. : untuk cari class*@