<b>JavaScript</b h3>
<h4 id="today"></h4>

<input id="firstName" placeholder="First Name"/>
<button id="btnfirstName" class="btn-primary">Click FirstName</button>

<input id="lastName" placeholder="Last Name"/>
<button class="btn-secondary">Click LastName</button>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>SubTotalPrice</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input id="product" value="Bike" readonly/>
            </td>
            <td>
                <input id="price" value="15"/>
            </td>
            <td>
                <input id="qty" value="1" readonly/>
            </td>
            <td>
                <input id="subTotalPrice" value="15" readonly/>
            </td>
            <td>
                <button id="btnAdd">Add Item</button>
            </td>
        </tr>
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        let today = new Date();

        //search element by id
        var elH2 = document.getElementById("today");
        elH2.textContent=today;

        var elFirstName = document.getElementById("firstName");
        elFirstName.value ="RiniMa";

        // arrow function
        document.getElementById("btnfirstName").addEventListener('click',()=>{
            elFirstName.value="Bootcamp Code.Id";
        });

        var elLastName = document.getElementById("lastName");
        elLastName.value ="Hatun";

        // anonymous function
        document.querySelector('.btn-secondary').onclick = function(e){
            elLastName.value = "sentul";
        }

        document.getElementById('btnAdd').addEventListener('click',() => {
            let price = document.getElementById('price');
            let qty = document.getElementById('qty');
            let subTotalPrice = document.getElementById('subTotalPrice');

            let counter = parseInt(qty.value);
            counter++;
            qty.value = counter;
            subTotalPrice.value = parseFloat(price.value)*qty.value;
            
        });
    </script>
}